USE [master]
GO
/****** Object:  Database [E2W]    Script Date: 5/10/2013 4:48:47 PM ******/
CREATE DATABASE [E2W]
GO

USE [E2W]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 5/10/2013 4:48:48 PM ******/

CREATE TABLE [dbo].[admin](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CancelOrderTour]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CancelOrderTour](
	[cancelOrderTourID] [int] IDENTITY(1,1) NOT NULL,
	[orderTourID] [int] NULL,
	[cancelTourDate] [datetime] NULL,
	[refund] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Car]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Car](
	[carID] [int] IDENTITY(1,1) NOT NULL,
	[model] [varchar](50) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[seat] [int] NOT NULL,
	[airConditioner] [bit] NOT NULL,
	[description] [varchar](max) NOT NULL,
	[image] [varchar](50) NOT NULL,
	[quantityStock] [int] NOT NULL,
	[price] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[carID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarOrder]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarOrder](
	[carOrderID] [int] IDENTITY(1,1) NOT NULL,
	[createDate] [datetime] NOT NULL,
	[endDate] [datetime] NULL,
	[status] [varchar](50) NOT NULL,
	[userID] [int] NOT NULL,
	[orderCost] [int] NOT NULL,
	[refund] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[carOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CarOrderDetail]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarOrderDetail](
	[carOrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[carOrderID] [int] NOT NULL,
	[carID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[driver] [bit] NOT NULL,
	[pickup] [datetime] NOT NULL,
	[dropoff] [datetime] NOT NULL,
	[totalCost] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[carOrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[city]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[city](
	[cityID] [int] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](50) NOT NULL,
	[cityImage] [varchar](500) NOT NULL,
	[cityDescription] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[fullname] [varchar](50) NULL,
	[gender] [varchar](6) NULL,
	[email] [varchar](50) NOT NULL,
	[Nationality] [varchar](20) NULL,
	[address] [varchar](max) NULL,
	[phone] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[flightID] [int] IDENTITY(1,1) NOT NULL,
	[flightBranch] [nvarchar](50) NULL,
	[availableDate] [datetime] NULL,
	[expiredDate] [datetime] NULL,
	[takingOfAirP] [nvarchar](20) NULL,
	[landingAirP] [nvarchar](20) NULL,
	[takingOfTime] [nvarchar](10) NULL,
	[landingTime] [nvarchar](10) NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[flightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotelID] [int] IDENTITY(1,1) NOT NULL,
	[hotelName] [varchar](50) NOT NULL,
	[hotelStar] [int] NOT NULL,
	[hotelStreet] [varchar](100) NOT NULL,
	[hotelImage] [varchar](50) NOT NULL,
	[hotelDescription] [varchar](1000) NOT NULL,
	[hotelPrice] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderTour]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderTour](
	[orderTourID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NULL,
	[orderDate] [datetime] NULL,
	[totalPrice] [varchar](20) NULL,
	[status] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderTourDetail]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTourDetail](
	[orderTourDetailID] [int] IDENTITY(1,1) NOT NULL,
	[orderTourID] [int] NULL,
	[tourID] [int] NULL,
	[quantity] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScheduleTour]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ScheduleTour](
	[scheduleID] [int] IDENTITY(1,1) NOT NULL,
	[tourID] [int] NULL,
	[imageSchedule] [varchar](max) NULL,
	[description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 5/10/2013 4:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tour](
	[tourID] [int] IDENTITY(1,1) NOT NULL,
	[tourName] [varchar](50) NULL,
	[imageTour] [varchar](max) NULL,
	[startDate] [varchar](50) NULL,
	[endDate] [varchar](50) NULL,
	[startLocation] [varchar](50) NULL,
	[endLocation] [varchar](50) NULL,
	[quantityMin] [int] NULL,
	[quantityMax] [int] NULL,
	[price] [int] NULL,
	[status] [varchar](50) NULL,
	[quantityCurrent] [int] NULL,
	[descripton] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[admin] ON 

INSERT [dbo].[admin] ([adminID], [username], [password]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[admin] ([adminID], [username], [password]) VALUES (2, N'mod', N'mod')
SET IDENTITY_INSERT [dbo].[admin] OFF
SET IDENTITY_INSERT [dbo].[CancelOrderTour] ON 

INSERT [dbo].[CancelOrderTour] ([cancelOrderTourID], [orderTourID], [cancelTourDate], [refund]) VALUES (1, 2, CAST(0x0000A1B3015C85BF AS DateTime), N'732')
INSERT [dbo].[CancelOrderTour] ([cancelOrderTourID], [orderTourID], [cancelTourDate], [refund]) VALUES (2, 1003, CAST(0x0000A1B600CEEBC0 AS DateTime), N'8883')
SET IDENTITY_INSERT [dbo].[CancelOrderTour] OFF
SET IDENTITY_INSERT [dbo].[Car] ON 

SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[CarOrder] ON 

INSERT [dbo].[CarOrder] ([carOrderID], [createDate], [endDate], [status], [userID], [orderCost], [refund]) VALUES (1, CAST(0x0000A1AC00000000 AS DateTime), NULL, N'canceled', 1003, 200, 180)
INSERT [dbo].[CarOrder] ([carOrderID], [createDate], [endDate], [status], [userID], [orderCost], [refund]) VALUES (2, CAST(0x0000A1AC00000000 AS DateTime), NULL, N'finished', 1003, 100, NULL)
SET IDENTITY_INSERT [dbo].[CarOrder] OFF
SET IDENTITY_INSERT [dbo].[CarOrderDetail] ON 

INSERT [dbo].[CarOrderDetail] ([carOrderDetailID], [carOrderID], [carID], [quantity], [driver], [pickup], [dropoff], [totalCost], [orderDate], [status]) VALUES (1, 1, 1, 2, 0, CAST(0x0000A1AC00000000 AS DateTime), CAST(0x0000A1AC00000000 AS DateTime), 100, CAST(0x0000A1AC00000000 AS DateTime), N'canceled')
INSERT [dbo].[CarOrderDetail] ([carOrderDetailID], [carOrderID], [carID], [quantity], [driver], [pickup], [dropoff], [totalCost], [orderDate], [status]) VALUES (2, 1, 2, 3, 0, CAST(0x0000A1AC00000000 AS DateTime), CAST(0x0000A1AC00000000 AS DateTime), 100, CAST(0x0000A1AC00000000 AS DateTime), N'canceled')
INSERT [dbo].[CarOrderDetail] ([carOrderDetailID], [carOrderID], [carID], [quantity], [driver], [pickup], [dropoff], [totalCost], [orderDate], [status]) VALUES (3, 2, 3, 4, 0, CAST(0x0000A1AC00000000 AS DateTime), CAST(0x0000A1AC00000000 AS DateTime), 100, CAST(0x0000A1AC00000000 AS DateTime), N'finished')
SET IDENTITY_INSERT [dbo].[CarOrderDetail] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([userID], [username], [password], [fullname], [gender], [email], [Nationality], [address], [phone]) VALUES (1003, N'user01', N'654321', N'user01', N'Male', N'user01@yahoo.com', N'vietnamese', N'01 BTX st,ward BT,dist 1', N'01227036700')
INSERT [dbo].[Customer] ([userID], [username], [password], [fullname], [gender], [email], [Nationality], [address], [phone]) VALUES (1004, N'user02', N'123456', N'user02', N'Male', N'user02@gmail.com', N'vietnamese', N'02 BTX st,ward BT,dist 1', N'0909020519')
INSERT [dbo].[Customer] ([userID], [username], [password], [fullname], [gender], [email], [Nationality], [address], [phone]) VALUES (1005, N'user03', N'123456', N'user03', N'Female', N'user03@gmail.com', N'vietnamese', N'03 BTX st,ward BT,dist 1', N'0903711165')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([flightID], [flightBranch], [availableDate], [expiredDate], [takingOfAirP], [landingAirP], [takingOfTime], [landingTime], [price]) VALUES (1, N'American Airline', CAST(0x0000A19300000000 AS DateTime), CAST(0x0000A30200000000 AS DateTime), N'SGN', N'MBL', N'00:00', N'00:00', 1200)
INSERT [dbo].[Flight] ([flightID], [flightBranch], [availableDate], [expiredDate], [takingOfAirP], [landingAirP], [takingOfTime], [landingTime], [price]) VALUES (2, N'American Airline', CAST(0x0000A1B200000000 AS DateTime), CAST(0x0000A1B400000000 AS DateTime), N'FR', N'SGN', N'02:00', N'01:00', 1000)
INSERT [dbo].[Flight] ([flightID], [flightBranch], [availableDate], [expiredDate], [takingOfAirP], [landingAirP], [takingOfTime], [landingTime], [price]) VALUES (3, N'American Airline', CAST(0x0000A1D200000000 AS DateTime), CAST(0x0000A1D600000000 AS DateTime), N'TSN', N'NB', N'03:00', N'02:00', 1000)
SET IDENTITY_INSERT [dbo].[Flight] OFF
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([hotelID], [hotelName], [hotelStar], [hotelStreet], [hotelImage], [hotelDescription], [hotelPrice], [isDeleted]) VALUES (2, N'The Manor', 4, N'200 Pastuer street', N'hotel/hotel2.jpg', N'Since 1956, The Manor has hosted more than 10,000 weddings and has been the dining destination for generations of customers in celebration of life’s most special occasions. Our experience and commitment to perfection is unparalleled in regard to both weddings and fine dining.', 75, 0)
SET IDENTITY_INSERT [dbo].[Hotel] OFF
SET IDENTITY_INSERT [dbo].[OrderTour] ON 

INSERT [dbo].[OrderTour] ([orderTourID], [userID], [orderDate], [totalPrice], [status]) VALUES (1, 1003, CAST(0x0000A1B30108AE39 AS DateTime), N'1650', N'Depending')
INSERT [dbo].[OrderTour] ([orderTourID], [userID], [orderDate], [totalPrice], [status]) VALUES (2, 1003, CAST(0x0000A1B30109B5CE AS DateTime), N'770', N'Canceled')
INSERT [dbo].[OrderTour] ([orderTourID], [userID], [orderDate], [totalPrice], [status]) VALUES (3, 1004, CAST(0x0000A1B40180A906 AS DateTime), N'7480', N'Depending')
SET IDENTITY_INSERT [dbo].[OrderTour] OFF
SET IDENTITY_INSERT [dbo].[OrderTourDetail] ON 

INSERT [dbo].[OrderTourDetail] ([orderTourDetailID], [orderTourID], [tourID], [quantity]) VALUES (1, 1, 3, 1)
INSERT [dbo].[OrderTourDetail] ([orderTourDetailID], [orderTourID], [tourID], [quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[OrderTourDetail] ([orderTourDetailID], [orderTourID], [tourID], [quantity]) VALUES (3, 2, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[OrderTourDetail] OFF
SET IDENTITY_INSERT [dbo].[ScheduleTour] ON 

SET IDENTITY_INSERT [dbo].[ScheduleTour] OFF
SET IDENTITY_INSERT [dbo].[Tour] ON 

SET IDENTITY_INSERT [dbo].[Tour] OFF
/****** Object:  Index [pk_cancelOrderTourID]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[CancelOrderTour] ADD  CONSTRAINT [pk_cancelOrderTourID] PRIMARY KEY NONCLUSTERED 
(
	[cancelOrderTourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_customer]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [pk_customer] PRIMARY KEY NONCLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_orderTourID]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[OrderTour] ADD  CONSTRAINT [pk_orderTourID] PRIMARY KEY NONCLUSTERED 
(
	[orderTourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_orderTourDetailID]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[OrderTourDetail] ADD  CONSTRAINT [pk_orderTourDetailID] PRIMARY KEY NONCLUSTERED 
(
	[orderTourDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_scheduleID]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[ScheduleTour] ADD  CONSTRAINT [pk_scheduleID] PRIMARY KEY NONCLUSTERED 
(
	[scheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [pk_tourID]    Script Date: 5/10/2013 4:48:48 PM ******/
ALTER TABLE [dbo].[Tour] ADD  CONSTRAINT [pk_tourID] PRIMARY KEY NONCLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CancelOrderTour] ADD  DEFAULT (getdate()) FOR [cancelTourDate]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Hotel] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[OrderTour] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[CancelOrderTour]  WITH CHECK ADD  CONSTRAINT [FK_CancelOrderTour_OrderTour] FOREIGN KEY([orderTourID])
REFERENCES [dbo].[OrderTour] ([orderTourID])
GO
ALTER TABLE [dbo].[CancelOrderTour] CHECK CONSTRAINT [FK_CancelOrderTour_OrderTour]
GO
ALTER TABLE [dbo].[CarOrder]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Customer] ([userID])
GO
ALTER TABLE [dbo].[CarOrderDetail]  WITH CHECK ADD FOREIGN KEY([carID])
REFERENCES [dbo].[Car] ([carID])
GO
ALTER TABLE [dbo].[CarOrderDetail]  WITH CHECK ADD FOREIGN KEY([carOrderID])
REFERENCES [dbo].[CarOrder] ([carOrderID])
GO
ALTER TABLE [dbo].[OrderTour]  WITH CHECK ADD  CONSTRAINT [FK_OrderTour_Customer] FOREIGN KEY([userID])
REFERENCES [dbo].[Customer] ([userID])
GO
ALTER TABLE [dbo].[OrderTour] CHECK CONSTRAINT [FK_OrderTour_Customer]
GO
ALTER TABLE [dbo].[OrderTourDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderTourDetail_OrderTour] FOREIGN KEY([orderTourID])
REFERENCES [dbo].[OrderTour] ([orderTourID])
GO
ALTER TABLE [dbo].[OrderTourDetail] CHECK CONSTRAINT [FK_OrderTourDetail_OrderTour]
GO
ALTER TABLE [dbo].[ScheduleTour]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleTour_Tour1] FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[ScheduleTour] CHECK CONSTRAINT [FK_ScheduleTour_Tour1]
GO
USE [master]
GO
